@using OnlineStore1.Models
@model IEnumerable<ProductModel>

@{
    ViewData["Title"] = "Products";
}



<br />
<div class="container">
    <div class="row">
        <div class="col-6">
            <h3 class="text-info">Products</h3>
        </div>
        <div class="col-6 text-right">
            <a asp-action="Create" class="btn btn-info">Add New Product</a>

        </div>
    </div>
    <br />


</div>


<div class="container">


    @*  This is for Searfching between a Range*@
    @*<form asp-action="Index" method="post">
        <div class="row">
            <div class="col-3">
                <label> Price From:</label>
                <input type="number" name="lowAmount" class="form-control" />

            </div>
            <div class="col-3">
                <label> Price To:</label>
                <input type="number" name="highAmount" class="form-control" />
            </div>
            <div class="col-3">
                <br />
                <input type="submit" value="Search" class="btn btn-outline-success" />

            </div>
            <div class="col-3"></div>
        </div>
        <br />
    </form>*@

    <table class="table table-striped border" id="myTable">
        @*The Id was use to call the DataTable function*@

        <thead>
            <!--This is used so as to use DataTable Features  ***Remember the Id in the Table Tag-->
            <tr class="table-info">
                <th>
                    @Html.DisplayNameFor(c => c.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(c => c.Price)
                </th>
                <th>
                    @Html.DisplayNameFor(c => c.ProductColor)
                </th>
                <th>
                    @Html.DisplayNameFor(c => c.IsAvailable)
                </th>
                <th>
                    @Html.DisplayNameFor(c => c.ProductTypeId)
                </th>
                <th>
                    @Html.DisplayNameFor(c => c.SpecialTagId)
                </th>

            </tr>
        </thead>

        <tbody>
            @*This is also usedfor the DataTable*@
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.Price</td>
                    <td>@item.ProductColor</td>
                    <td>@item.IsAvailable</td>
                    <td>@item.productTypes.ProductType</td>
                    <td>@item.TagTypes.SpecialTag</td>
                    <td><partial name="_buttonPartialView" model="@item.Id" /></td>
                </tr>
            }
        </tbody>

    </table>
</div>
@section Scripts{

    <!--    This to Use a JavaScript Function... The function is for the alert Notification-->

    <script src="~/lib/AlertifyJS/alertify.min.js"></script>    <!--    This is for the Alert dialog -->
    <script src="https://cdn.datatables.net/1.11.1/js/jquery.dataTables.min.js"></script>

    <script type="text/javascript">
        
    /* This is for the DataTable */
        $(document).ready(function () {
            $('#myTable').DataTable();
        });

        /* This is for the Alerts... Alertify */
        $(function () {
            var save = '@TempData["save"]'

            if (save != '') {
                alertify.success(save);
            }
        })
    </script>
}
